*{
    margin: 0;
    padding: 0;

}
.top{
    width: 100vw;
    padding: 20px;
}

.top img{
    width: 80px;
    height: 80px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo p{
    margin: 0;
    padding-left: 10px;
    font-weight: 1000;
    font-size: large;
}
