* {
    box-sizing: border-box;

}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.headerHome {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.headerHome img {
    max-width: 100%;
    max-height: 300px;
    object-fit: cover;
    flex: 1 1 300px;
}

.headerTitle {
    flex: 1 1 300px;
    padding-left: 100px;
}

.menu-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.services {
    background-color: #F5F0DD;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    width: 100%;
}

.servicesTitle {
    text-align: center;
    color: #1D5748;
}

.services-img img {
    width: 30%;
    height: auto;
    padding: 10px;
}

.services-desc {
    color: #1D5748;
}

.services-desc p {
    text-align: center;
}

.services-desc h3 {
    font-weight: bold;
}

.services-items a {
    text-decoration: none;
}

.services-items:hover {
    background-color: #1D5748;
    border-radius: 5px;
    color: #F5F0DD;
}

.services-items:hover .services-desc {
    color: #F5F0DD;
}

.userList {
    background-color: white;
}

.peopleTitle {
    text-align: center;
    color: #1D5748;
}

.peopleBtn {
    text-align: center;
}

.peopleBtn a {
    text-decoration: none;
    color: #1D5748;
    border-radius: 10px;
    border: 2px solid #1D5748;
}

.peopleBtn a:hover {
    background-color: #F5F0DD;
    color: #1D5748;
    font-weight: bold;
}

.feedback {
    background-color: #017b56;
}

.feedback .feedback-title {
    color: #F5F0DD;
}

.feedback-button a {
    text-decoration: none;
    color: #017b56;
    background-color: #F5F0DD;
    padding: 15px;
    border-radius: 10px;
    margin: auto;
}

.feedback-button a:hover {
    background-color: #E0C993;
    color: #F5F0DD;
    font-weight: bold;
}

.feedback-button {
    text-align: center;
}

.feedback-group {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.feedback-item {
    background-color: #E0C993;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    color: #1D5748;
    text-align: justify;
    flex: 1 1 calc(48% - 20px);
    box-sizing: border-box;
}

.user-feedback {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 25px;
    border-radius: 10px;
    background-color: #F5F0DD;
}

.contact {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.contact-info h1 {
    color: #017b56;
}

.contact-wrapper {
    background: #017b56;
    position: relative;
    overflow: hidden;
    padding: 50px;
}

.contact-wrapper h3 {
    color: #e9f5e8;
    position: relative;
    padding: 0 0 15px;
    margin-bottom: 30px;
    font-size: 24px;
}

.contact-wrapper h3::after {
    content: "";
    position: absolute;
    top: 25px;
    bottom: 0;
    left: 0;
    right: 100%;
    margin: auto;
    width: 10%;
    height: 3px;
    background: #e9f5e8;
}

.contact-details {
    display: flex;
    gap: 30px;
}

.contact-item {
    text-align: center;
    max-width: 200px;
}

.icon {
    background-color: #e9f5e8;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 15px;
}

.icon img {
    width: 40px;
    height: 40px;
}

.contact-item p {
    font-size: 14px;
    margin: 5px 0;
}

.contact-form {
    margin-bottom: 30px;
    position: relative;
    box-sizing: border-box;
}

.form-input {
    border-radius: 3px;
    border: 2px solid rgb(243, 238, 220);
    height: 45px;
    font-size: 15px;
    background: #e9f5e8;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-weight: 400;
    line-height: 1.5;
    appearance: none;
}

input,
textarea {
    margin: 0;
    font-family: inherit;
}

.form-input.textarea {
    height: inherit;
}

textarea.form-control {
    min-height: calc(1.5em + (.75rem + 2px))
}

textarea {
    resize: vertical;

}

.contact-btn {
    text-align: center;
}

.contact-btn-link {
    padding: 3px 30px;
    line-height: 46px;
    display: inline-block;
    background: #e9f5e8;
    text-transform: capitalize;
    border: none;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    z-index: 1;
    overflow: hidden;
    color: black;
    letter-spacing: 1px;
}

@media (max-width: 992px) {
    .col {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    .headerTitle h2 {
        font-size: 1.5rem;
    }

    .headerTitle p {
        font-size: 0.9rem;
    }

    .col {
        flex: 1 1 100%;
        max-width: 100%;

    }

    .services-img img {
        width: 20%;
    }

    .headerHome {
        flex-direction: column;
        text-align: center;
    }

    .headerHome img {
        max-width: 80%;
        margin-bottom: 20px;
    }

    .feedback-group {
        flex-direction: column;
        gap: 10px;
    }

    .feedback-item {
        flex: 1 1 100%;
    }
}

@media (max-width: 576px) {
    .headerTitle h2 {
        font-size: 1.3rem;
    }

    .headerTitle p {
        font-size: 0.85rem;
    }

    .servicesTitle h2 {
        font-size: 1.5rem;
    }

    .servicesTitle p {
        font-size: 0.85rem;
    }
}