.search-filter {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    justify-content: center;
}

.search-filter input,
.search-filter select,
.search-filter button {
    padding: 8px;
    font-size: 14px;
}

.filter-button{
    background-color: #F2F5DF;
    color: #014520;
}

.addUser {
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
}

.add-button {
    background-color: #1D5748;
    color: #F5F0DD;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #FFF8EB;
    text-align: left;
}

table th,
table td {
    text-align: left;
    padding: 10px;
    border: 1px solid #ddd;
}

table th {
    background-color: #f4f4f4;
}

.addAct {
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    width: 85vw;
}

.table-container {
    background-color: #F5F0DD;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: auto;
}

thead th {
    background-color: #FFF8EB;
    /* Slightly darker grey for header */
    padding: 10px;
    font-weight: bold;
    border-bottom: 2px solid #ccc;
    color: #F5F0DD;
}

tbody td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    color: #1D5748;
}

tbody tr:nth-child(even) {
    background-color: #fafafa;
    /* Alternate row colors */
}

table thead{
    background-color: #1D5748;
    color: #F5F0DD;
}

table tbody{
    background-color: #f8f6f2b8;
}