.search-filter {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    justify-content: center;
}

.search-filter input,
.search-filter select,
.search-filter button {
    padding: 8px;
    font-size: 14px;
}

.filter-button{
    background-color: #F2F5DF;
    color: #014520;
}

.addUser {
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
}

.add-button {
    background-color: #1D5748;
    color: #F5F0DD;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #FFF8EB;
    text-align: left;
}

table th,
table td {
    text-align: left;
    padding: 10px;
    border: 1px solid #ddd;
}

table th {
    background-color: #f4f4f4;
}

.addAct {
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-end;
    width: 85vw;
}

.table-container {
    background-color: #F5F0DD;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: auto;
}

thead th {
    background-color: #FFF8EB;
    /* Slightly darker grey for header */
    padding: 10px;
    font-weight: bold;
    border-bottom: 2px solid #ccc;
    color: #F5F0DD;
}

tbody td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    color: #1D5748;
}

tbody tr:nth-child(even) {
    background-color: #fafafa;
    /* Alternate row colors */
}

table thead{
    background-color: #1D5748;
    color: #F5F0DD;
}

table tbody{
    background-color: #f8f6f2b8;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup.hide {
    display: none;
}

.popup-content {
    display: flex;
    background: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 800px;
    width: 100%;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 50px;
}

.popup-image img{
    flex: 1;
    padding: 20px;
    width: 100%;
    height: auto;
}

.popup-details{
    flex: 1;
    padding: 20px;
    position: relative;
}

.popup-details{
    flex: 1;
    padding: 20px;
    position: relative;
}

.popup-details-background{
    background-color: #FFF8EB;
    padding: 20px;
    border-radius: 5px;
}

#popup-name{
    text-align: center;
    padding-bottom: 10px
}

.filter button {
    padding: 1em 2.1em 1.1em;
    border: radius 4px;
    margin: 8px;
    border: none;
    background-color: #F5F0DD;
    font-weight: 800;
    font-size: 0.85em;
    text-transform: uppercase;
    text-align: center;
    box-shadow: 0em -0.2em 0em white inset;
    color: #1D5748;
}

.filter{
    text-align: center;
    margin: 10px 0;        
}

.button-value{
    width: 15%;
}

.button-value.active {
    background-color: #1D5748;
    color: white;
}

.button-value:hover {
    background-color: #1D5748;
    color:white;
}

.pagination {
    display: flex;
    padding-bottom: 10px;
}

.pagination .btn {
    margin: 0 5px;
    padding: 5px 10px;
    text-decoration: none;
    color: #1D5748;
    border-radius: 5px;
}

.pagination .btn-secondary {
    background-color: #F5F0DD;
}

.pagination .btn-primary {
    background-color: #1D5748;
    font-weight: bold;
    color: #F5F0DD;
    border-color: #1D5748
}